<div class="jumbotron">
    <h2>Matthew Marangoni - SecondaryWebApp</h2>
    <p class="lead">This app is intended to simply prove that it’s possible to add another app to a common security environment.</p>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Getting started</h2>
        <p>This app gets configured with security components and is then run to ensure it works properly.</p>
        <p>This app can be tested by using the values api.</p>
    </div>
</div>
