<div class="jumbotron">
    <h2>Matthew Marangoni - PrimaryWebApp</h2>
    <p class="lead">This app is configured with the necessary security components it needs to interact with the IAServer app, and contains additional code to deliver employee data using a range of authorization criteria.</p>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Features</h2>
        <p>Includes the following features:</p>
        <ul>
            <li>Communicates with IAServer</li>
            <li>Delivers Employee data if authenticated/authorized</li>
            <li>Demonstrates a common organizational security environment</li>
        </ul>
    </div>
</div>
